[Unit]
Description=nodeApi App
After=cloud-final.service

[Service]
WorkingDirectory=/home/ec2-user/webservice-main
ExecStart=/usr/bin/node /home/ec2-user/webservice-main/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodeApi-app
User=ec2-user

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target